# ------------- general options ----------------------------------------
save_path = "../pcldriver/resnet152/channel_selection_0.5/" # log path
data_path = "/exdata/datasets/bus_ab_beaviours/" # path for dataset folder, containing cifar10 and imagenet
dataset = "pcldriver"  # options: imagenet | cifar10
seed = 2020  # manually set RNG seed
gpu = "0"  # GPU id to use, e.g. "0,1,2,3"

# ------------- data options -------------------------------------------
n_threads = 16  # number of threads used for data loading
n_classes = 8  # number of classes in the dataset
multi_frame = False
# ------------- discrimination-aware options ---------------------------
n_losses = 9  # number of additional losses
pruning_rate = "0.5"  # pruning rate, figure out how the code uses this parameter!!!
# pruning_rate = "0.658" # average the amc results

# actual used 9: 1.0, 0.5, 0.5, 1.0, 0.25, 0.75, 0.75, 0.5, 0.675, average is 0.6583333
# pruning_rate = "1.0, 0.5, 1.0, 1.0, 0.5, 1.0, 0.5, 1.0, 1.0, 1.0, 1.0, 0.25, 0.25, 0.75, 1.0, 1.0, 0.75, 0.75, 0.5, 0.375, 0.625, 1.0" # channel_selection_only_conv2_amc_debug

# pruning_rate = "0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5" # channel_selection_only_conv2_amc_set_all_0.5_debug
# channel_selection_only_conv2_amc_must_prune_every_layer_debug, change the third value and tenth value from 1 to 0.5, this worked
# pruning_rate = "1.0, 0.5, 0.5000000000000, 1.0, 0.5, 1.0, 0.5, 1.0, 1.0, 0.50000000000000, 1.0, 0.25, 0.25, 0.75, 1.0, 1.0, 0.75, 0.75, 0.5, 0.375, 0.625, 1.0"
softmax_weight = 1.0  # weight of the softmax loss
mse_weight = 1.0  # weight of the mean square loss
max_samples = -1  # maximum sample size used for channel selection, -1 means using whole data set
warmstart = True

# ------------- common optimization options ----------------------------
batch_size = 256  # mini-batch size
momentum = 0.9  # momentum
weight_decay = 1e-4  # weight decay
layer_wise_lr = 0.01  # learning rate for sub problem (8)

# ------------- model options ------------------------------------------
net_type = "resnet"  # options: resnet | preresnet
experiment_id = "20200712"  # experiment identifier
depth = 152  # resnet depth: (n-2)%6==0

# ------------- resume or pretrained options ------------------------------
pretrained = "/exdata/liuxu/DCP/dcp/pcldriver/resnet152/auxnet/log_aux_resnet152_pcldriver_bs24_n9_e100_lr0.010_step[40, 60]_2020070220200703/check_point/best_model_with_aux_fc.pth"  # path of the pre-trained model
resume = "/exdata/liuxu/DCP/dcp/pcldriver/resnet152/channel_selection_0.5/log_cs_resnet152_pcldriver_bs256_n9_p[0.5]_lr0.010000_20200703/check_point/checkpoint_009_cs_050.pth"
# cuda out of memory resume = "/exdata/liuxu/DCP/dcp/pcldriver/resnet152/channel_selection_0.5/log_cs_resnet152_pcldriver_bs128_n9_p[0.5]_lr0.010000_20200702/check_point/checkpoint_002_cs_014.pth" # resume checkpoint